<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Us</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="large">PAL is a youth crime prevention program that utilizes educational, athletic and
                    recreational
                    activities to create trust and understanding between police officers and youth. It is based on the
                    conviction that young people – if they are reached early enough – can develop strong positive
                    attitudes towards police officers in their journey through life toward the goal of maturity and good
                    citizenship. The PAL program brings youth under the supervision and positive influence of a law
                    enforcement agency and expands public awareness about the role of a police officer and the
                    reinforcement of the responsible values and attitudes instilled in young people by their parents.
                </p>
            </div>
        </div>
    </div>
</section>
